.ant-carousel {
    width: 100%;

    .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #ffffff;
        overflow: hidden;
        width: 100%
    }

    ul.slick-dots {
        z-index: 1;
        button {
            background-color: #78A262 !important;
        }

    }
}
