.presented-product-row {
    margin-bottom: 30px;
}

.ant-carousel > div {
    height: 100%;
}

.ant-carousel > div > div{
    height: 100%;
}

.ant-carousel {
    height: 100%;
}

.slick-slide > div {
    height: 100% !important;
}

.slick-slide > div > div {
    height: 80% !important;
}

.slick-track {
    height: 100% !important;
}

.slick-slide {
    height: 100% !important;
}